/* Carefully created with SOY */
#rw_wrapper.rw_effects_popup_shadow .rw_shadow_top {
    width: calc(100% + 40px);
}

#rw_wrapper.rw_effects_popup_shadow .rw_shadow_top:after {
    width: calc(100% - 40px);
}

#rw_wrapper.rw_effects_popup_border .rw_shadow_top {
    width: calc(100% + 2px);
}

#rw_wrapper .rw_bg_shadow .rw_shadow_container {
    width: 92%;
}

#rw_wrapper.rw_background_top .rw_background_section_background1:before, #rw_wrapper.rw_background_top .rw_background_section_background1 .rw_preview_background {
    background: #ec933b;
}

#rw_wrapper #rw_main #rw_theme_content #main, .rw_theme_context_dashboard #page .rw_content_dashboards_alternating_wide #rw_main #rw_theme_content #main .rw_layout_group > * {
    width: 92%;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li a {
    color: rgba(255, 255, 255, 0.75) !important;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li a .rw_item_dd:after {
    border-color: rgba(255, 255, 255, 0.75) transparent transparent transparent;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li a {
    border-color: rgba(255, 255, 255, 0.75) !important;
}

#rw_category_menu_left_button:before {
    border-color: transparent rgba(255, 255, 255, 0.75) transparent transparent;
}

#rw_category_menu_right_button:before {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
}

#rw_wrapper .rw_header_menu > li > a {
    color: rgba(255, 255, 255, 0.75);
}

#rw_wrapper .rw_header_menu > li > a span.aui-icon {
    color: rgba(255, 255, 255, 0.75)
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li a:hover, #rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a:hover, #rw_category_menu.rw_theme_traditional ul.rw_category_items li a.rw_hovered {
    background: rgba(0, 0, 0, 0.17);
    color: rgba(255, 255, 255, 1) !important;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a:hover .rw_item_dd:after, #rw_category_menu.rw_theme_traditional ul.rw_category_items li a:hover .rw_item_dd:after, #rw_category_menu.rw_theme_traditional ul.rw_category_items li a.rw_hovered .rw_item_dd:after {
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
}

#rw_category_menu_left_button:hover {
    background: rgba(0, 0, 0, 0.17);
    color: rgba(255, 255, 255, 1);
}

#rw_category_menu_left_button:hover:before {
    border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
}

#rw_category_menu_right_button:hover {
    background: rgba(0, 0, 0, 0.17);
}

#rw_category_menu_right_button:hover:before {
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}

#rw_wrapper .rw_header_menu > li > a:hover, #rw_wrapper .rw_header_menu > li > a.rw_active {
    color: rgba(255, 255, 255, 1) !important;
}

#rw_wrapper .rw_header_menu > li > a:hover span.aui-icon, #rw_wrapper .rw_header_menu > li > a.active span.aui-icon {
    color: rgba(255, 255, 255, 1);
}

#rw_wrapper .rw_header_menu > li > a:hover, #rw_wrapper .rw_header_menu > li > a.rw_active, #rw_wrapper .rw_header_menu > li > a.active {
    background: rgba(0, 0, 0, 0.17)
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a {
    background: rgba(255,255,255,0.2);
    color: rgba(255, 255, 255, 1) !important;
}

#rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a .rw_item_dd:after, #rw_category_menu.rw_theme_traditional ul.rw_category_items li.rw_active a:hover .rw_item_dd:after {
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent
}

#rw_wrapper #rw_main #rw_theme_header .rw_header_row {
    width: 100%
}

#rw_side_menu, #rw_side_menu #rw_side_menu_handle {
    background: #444444;
}

#rw_side_menu #rw_side_menu_handle {
    color: #999999;
}

#rw_side_menu_container > ul ~ ul:before {
    background: #999999;
}

#rw_side_menu_container > ul li a {
    color: #999999;
}

#rw_side_menu_container > ul li a:hover, #rw_side_menu_container > ul li a.active {
    color: #FFFFFF;
    background: #555555;
}
