{% load static %}

<div id="footer" role="contentinfo">
    <section class="footer-body">
                <ul id="login-language">
                        <li lang="cs-CZ">
                            <a href="https://wiki.skplanet.com/login.action?language=cs_CZ">Čeština</a>
                        </li>
                                            <li lang="da-DK">
                            <a href="https://wiki.skplanet.com/login.action?language=da_DK">Dansk</a>
                        </li>
                                            <li lang="de-DE">
                            <a href="https://wiki.skplanet.com/login.action?language=de_DE">Deutsch</a>
                        </li>
                                            <li lang="et-EE">
                            <a href="https://wiki.skplanet.com/login.action?language=et_EE">Eesti</a>
                        </li>
                                            <li lang="en-GB">
                            <a href="https://wiki.skplanet.com/login.action?language=en_GB">English (UK)</a>
                        </li>
                                            <li lang="en-US">
                            <a href="https://wiki.skplanet.com/login.action?language=en_US">English (US)</a>
                        </li>
                                            <li lang="es-ES">
                            <a href="https://wiki.skplanet.com/login.action?language=es_ES">Español</a>
                        </li>
                                            <li lang="fr-FR">
                            <a href="https://wiki.skplanet.com/login.action?language=fr_FR">Français</a>
                        </li>
                                            <li lang="is-IS">
                            <a href="https://wiki.skplanet.com/login.action?language=is_IS">Íslenska</a>
                        </li>
                                            <li lang="it-IT">
                            <a href="https://wiki.skplanet.com/login.action?language=it_IT">Italiano</a>
                        </li>
                                            <li lang="hu-HU">
                            <a href="https://wiki.skplanet.com/login.action?language=hu_HU">Magyar</a>
                        </li>
                                            <li lang="nl-NL">
                            <a href="https://wiki.skplanet.com/login.action?language=nl_NL">Nederlands</a>
                        </li>
                                            <li lang="nn">
                            <a href="https://wiki.skplanet.com/login.action?language=no_NO">Norsk</a>
                        </li>
                                            <li lang="pl-PL">
                            <a href="https://wiki.skplanet.com/login.action?language=pl_PL">Polski</a>
                        </li>
                                            <li lang="pt-BR">
                            <a href="https://wiki.skplanet.com/login.action?language=pt_BR">Português</a>
                        </li>
                                            <li lang="ro-RO">
                            <a href="https://wiki.skplanet.com/login.action?language=ro_RO">Română</a>
                        </li>
                                            <li lang="sk-SK">
                            <a href="https://wiki.skplanet.com/login.action?language=sk_SK">Slovenčina</a>
                        </li>
                                            <li lang="fi-FI">
                            <a href="https://wiki.skplanet.com/login.action?language=fi_FI">Suomi</a>
                        </li>
                                            <li lang="sv-SE">
                            <a href="https://wiki.skplanet.com/login.action?language=sv_SE">Svenska</a>
                        </li>
                                            <li lang="ru-RU">
                            <a href="https://wiki.skplanet.com/login.action?language=ru_RU">Русский</a>
                        </li>
                                            <li lang="ko-KR">
                            <a href="https://wiki.skplanet.com/login.action?language=ko_KR">한국어</a>
                        </li>
                                            <li lang="ja-JP">
                            <a href="https://wiki.skplanet.com/login.action?language=ja_JP">日本語</a>
                        </li>
                                            <li lang="zh-CN">
                            <a href="https://wiki.skplanet.com/login.action?language=zh_CN">中文</a>
                        </li>
                                    </ul>
            

        
        <div class="gliffy-webpanel-footer"><span></span></div>
<ul id="poweredby">
            <li class="noprint"><a href="https://www.atlassian.com/software/confluence" class="hover-footer-link" rel="nofollow">Atlassian Confluence</a>에 의해 제공 <span id="footer-build-information">7.19.19</span></li>
            <li class="print-only">Atlassian Confluence에 의해 인쇄됨 7.19.19</li>
            <li class="noprint"><a href="https://support.atlassian.com/confluence-server/" class="hover-footer-link" rel="nofollow">버그 신고</a></li>
            <li class="noprint"><a href="https://www.atlassian.com/company" class="hover-footer-link" rel="nofollow">Atlassian 새 소식</a></li>
        </ul>

        

        <div id="footer-logo">
            <a href="https://www.atlassian.com/" rel="nofollow">Atlassian</a>
        </div>

                    
        
    </section>
</div>

    
            <div id="rw_editpage_shortcut" style="display: none" title=" (&#39;e&#39; 입력)"></div></div>

            <!-- \#rw_main -->
                        <div class="rw_background_section_background1"></div>
<div id="rw_popup_bg" style="display:none;"></div>

        </div>
        <!-- \#rw_wrapper -->

        <div id="rw_fullscreen_bg" style="display:none;"></div>


    </div> <!-- \#full-height-container -->
</div><!-- \#page -->